<%= render :partial => '/will_filter/filter/conditions_header', :locals => {:wf_filter => wf_filter} %>


<div>
  <% if wf_filter.errors[:filter] %>
      <div class="alert alert-error">
        <%= wf_filter.errors[:filter] %>
      </div>
  <% end %>


  <input type="hidden" name="wf_match" value="all">

  <% if wf_filter.size == 0 %>
      <div class="alert">
        <a class="close" data-dismiss="alert">×</a>

        You haven't added any filter conditions, so all of the results were returned.
        Use the "Add" button in the bottom left corner to add a new condition or select
        a predefined filter from a drop-down list above.



      </div>

  <% else %>
      <% 0.upto(wf_filter.size-1) do |index| %>
          <% condition = wf_filter.condition_at(index) %>
          <%= render :partial => "/will_filter/filter/condition", :locals => {:wf_filter => wf_filter, :condition => condition, :index => index}%>
      <% end %>
  <% end %>

  <div id="wf_debugger" class="debugger" style="display:none;">
    <%= raw(wf_filter.debug_sql_conditions) %>
  </div>

</div>